.container, .bQnUxq, .bMfsTW {
    max-width:100% !important;
    margin: 0px !important;
    padding: 0px !important;
}

.bMfsTW {
    margin: 5px !important;
    box-shadow: 5px 7px 10px #778899;
}

.tag:not(body).is-primary {
    background-color: #fc8c03;
    color: #fff;
}

.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #fc8c03;
    color: #fc8c03;
}

.button.is-primary {
    background-color: #fc8c03;
    border-color: transparent;
    color: #fff;
}

.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #fc8c03;
    color: #fc8c03;
}

.button.is-primary.is-outlined:hover, .button.is-primary.is-outlined.is-hovered, .button.is-primary.is-outlined:focus, .button.is-primary.is-outlined.is-focused {
    background-color: #fc8c03;
    border-color: #fc8c03;
    color: #fff;
}

/* Mobile Devices */
@media only screen and (max-width: 600px) {
    .lhVpkI {
        padding: 20px 0px 20px 0px !important; 
    }

    .cYOqIb {
        margin: 0 5px !important;
    }

    .hLNwKA {
        margin: 0 5px !important;
        padding: 20px 0 20px 0 !important;
    }

    .iPjwpv {
        padding: 40px 0 20px 0 !important; 
    }
}