
.Collapsible {
  background-color: #1b97cc22;
  cursor: pointer;
  box-shadow: 4px 7px 21px 4px #aaaaaa
}

.Collapsible span{
  font-size: 15pt;
  font-weight: bold;
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #1b97cc77;
  border-top: 0;
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #777777;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: #1b97cc;
  color: white;
}

.Collapsible__trigger .is-disabled {
    opacity: 0.5;
    background-color: grey;
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #CBB700;
  color: black;
}

.row {
  margin-top: 10px;
}